########################################################
# Visual Studio
########################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

########################################################
# Build results
########################################################

bin/
obj/
Debug/
Release/
x86/
x64/
ARM/
ARM64/

########################################################
# .NET
########################################################

*.dll
*.exe
*.pdb
*.mdb
*.cache
*.log

########################################################
# MSIX / Packaging
########################################################

AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload
*.cer

########################################################
# NuGet
########################################################

packages/
*.nupkg
*.snupkg
.nuget/

########################################################
# Rider / VSCode (念のため)
########################################################

.idea/
.vscode/

########################################################
# Windows
########################################################

Thumbs.db
Desktop.ini

########################################################
# Temporary files
########################################################

*.tmp
*.temp
*.bak
*.orig

########################################################
# Publish profiles (環境依存にするなら除外)
########################################################

Properties/PublishProfiles/*.pubxml.user
